/* Скидання стилів */
@import url("reset.css");

a{
	color:blue;
}

h2{
	color:blue;
}
h1{
	color: red;
}

span{
	color:rgb(4, 51, 22)
}

.data{
	color:rgb(41, 154, 247)
}

.data h3{
	color:rgb(49, 49, 21);
}

.history{
color:rgb(137, 13, 148);
}

.history .brown{
	color:brown;
}

.green{
	color: green;
}

#orange{
   color: orange;
}

.geography a{
	color:aqua;
}
