/* Локальне підключення шрифтів */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,700,900,900italic);
@import url("fonts.css");
/* Скидання стилів */
@import url("reset.css");

body {
max-width: 1914px;
margin: 0 auto;	
}

.header {
	margin-bottom: 70px;
}
.header h1 {
	font-size: 56px;
	font-weight:600;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #b797d6;
	color: #fff;
}

.section_ecommerce {
	background-color: hsla(210, 24%, 16%, 0.05);
	margin-bottom: 70px;
}

.block_ecommerce {
	max-width: 1320px;
	margin: 0 auto;
	padding-bottom: 75px;
	padding-top: 100px;
}

.title_ecommerce {
	font-family: "Roboto",sans-serif;
	font-size: 50px;
	
	text-align: center;
	padding-bottom: 52px;
}

.items {
	font-size: 0;
	padding-bottom: 325px;
}

.item {
	display: inline-block;
	margin-right: 24px;
}

.item_end {
	margin-right: 0px;
}

.section_krovato {
	margin-bottom: 70px;
}
.krovato  {
	max-width: 1070px;
	margin: 0 auto;
	font-family: "Proxima Nova", sans-serif;
	color: #2b2929;
	
}

.krovato h2 {
    font-size: 40px;
	line-height: 48px;
	padding-bottom: 40px;
	text-align: center;
}

.krovato_p {
	margin-bottom: 30px;
}

.krovato h3 {
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
	text-align: left;
}

.krovato img {
	padding-bottom: 40px;
}

.krovato p {
	font-size: 16px;
	line-height: 30px;
	text-align: left;
	line-height: 30px;
	padding-bottom: 10px;
}

.krovato li {
	font-size: 16px;
	line-height: 30px;
	text-align: left;
	line-height: 30px;
	padding-bottom: 20px;
	padding-left: 47px;
}

.krovato ul {
	margin-bottom: 28px;
}

.krovato h4 {
    font-size: 16px;
	line-height: 30px;
}

.section_krovato {
	background-color: hsla(210, 24%, 16%, 0.05);
	margin-bottom: 70px;
}

.krovato_is {
	max-width: 1290px;
	margin: 0 auto;
	color: #2b2929;
    font-style: normal;
    font-family: "Proxima Nova",sans-serif;
    font-weight: 400;
}

.krovato_is-title {
	font-size: 40px;
	line-height: 48px;
	text-align: center;
	margin-bottom: 40px;
}

.krovato_items {
	font-size: 0;
	margin: 0 -5px;
}

.krovato_item {
	width: 25%;
	display: inline-block;
	padding-right: 30px;
	vertical-align: top;
}

.krovato_item-content {
	text-align: center;
}

.krovato_is img {
	margin-bottom: 20px;
}

.krovato_item h3 {
	font-size: 26px;
	line-height: 34px;
	margin-bottom: 20px;
}

.krovato_item p {
	font-size: 16px;
	line-height: 30px;
}

.footer {
	background-color: #b797d6;
	font-size: 25px;
	color: #fff;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}